extends ../layout

block content
  h1 Rutinas
  p.lead Estas son todas las rutinas registradas en el sistema
  a.btn.btn-success(href="/routines/create") Añadir Rutina
  hr
  if routines.length <= 0
    h3 No hay rutinas registradas aún :(
  else
    .row
      each routine, i in routines
        .col-md-3.mb-2
          .card.h-100.text-center
            .card-body
              h5.card-title=routine.title
              p.card-text=routine.description
              a.btn.btn-primary(href=`/routines/${routine._id}`) Ver
              a.btn.btn-info(href=`/routines/${routine._id}/edit`) Editar
              a.btn.btn-danger(href=`/routines/${routine._id}/delete`, onclick="return confirm('¿En verdad desea eliminar esta rutina?');") Eliminar
            .card-footer
              p= 'Programada para: ' + routine.day.toLocaleDateString()
