extends ../layout

block content
  h1 Editar Ejercicio
  p.lead Aquí puedes editar el ejercicio
    =' "'+exercise.title+'"'
  a.btn.btn-info(href="/exercises") Regresar
  hr
  form(action=`/exercises/${exercise._id}/update`, method='POST', enctype='multipart/form-data', onsubmit='return confirm("¿Estás segur@ de la información que ingressate?");')
    input(type='hidden', name='_csrf', value=_csrf)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold(for='title') Título del Ejercicio
      .col-md-7
        input.form-control(type='text', name='title', id='title', required, value=exercise.title)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold(for='description') Descripción del Ejercicio
      .col-md-7
        textarea.form-control(name='description', id='description', required)=exercise.description
    .row
      .col-md-3
        h3 Videos
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold(for='video.mp4') Video en formato MP4
      .col-md-7
        input.form-control(type="url", name="video.mp4", id="video.mp4" required, value=exercise.video.mp4)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold(for='video.webm') Video en formato WEBM
      .col-md-7
        input.form-control(type="url", name="video.webm", id="video.webm", value=exercise.video.webm)
    .form-group.row
      label.col-md-3.col-form-label.font-weight-bold(for='video.ogg') Video en formato OGG
      .col-md-7
        input.form-control(type="url", name="video.ogg", id="video.ogg", value=exercise.video.ogg)
    .form-group
      .offset-sm-3.col-md-7.pl-2
        button.btn.btn-primary(type='submit')
          i.fas.fa-save.fa-sm
          | Guardar Ejercicio