extends ../layout

block content
  link(rel="stylesheet", href="https://vjs.zencdn.net/7.1.0/video-js.css")
  script(src="https://vjs.zencdn.net/7.1.0/video.js")
  h1=exercise.title
  p.lead=exercise.description
  hr
  .row
    .col-md-12.text-center(oncontextmenu="return false;", onselectstart="return false;", ondragstart="return false;")
      video(id="routine-video", class="video-js vjs-big-play-centered", controls, preload="auto",  data-setup="{fluid: true}", style="width: 100%;")
        source(src=exercise.video.mp4, type="video/mp4")
        source(src=exercise.video.webm, type="video/webm")
        source(src=exercise.video.ogg, type="video/ogg")
        p.vjs-no-js
          | Para ver este video es necesario contar con JavaScript, y considera actualizar tu navegador a uno que
          a(href="https://videojs.com/html5-video-support/") soporte video en HTML5.
  .row.my-2
    .col
      a.btn.btn-info(href="/exercises") Regresar a
        i  Ejercicios